language: ruby
sudo: false
cache: bundler
branches:
  only: master
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.10
  - 2.2.7
  - 2.3.4
  - 2.4.1
  - ruby-head
matrix:
  allow_failures:
    - rvm: ruby-head
  fast_finish: true
before_install:
 - gem update --system
 - gem install bundler --no-ri --no-rdoc
